body{
    background-color: white;
    margin: 5px;
    

}

titulo{
    
    display: flex;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;

    
}

main{ 
    
    margin: 3% 0% 5% 0%;

}

footer{

    padding: 1% 40%;
    background-color: rgb(184, 209, 255);

    }


.atalhos{

    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    
    background-color: darkgrey;
    border: 3px grey solid;

    margin: 2% 0% 1% 0%;
    padding: 5px;
}

.atalhos a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    padding: 3px;

}

.atalhos a:hover{

    background-color: rgb(67, 66, 131);
}