


main>ol{
    display: grid;
    grid-template-columns: auto auto auto;

    align-content: space-between;
    justify-content: space-between;
    align-items: baseline;
    justify-items: stretch;
    
    margin: 15px 30px;
}

